/* Home.module.css */

.containerHome {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .allOrder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .selectWrapper {
    margin-right: 10px;
  }
  
  .selectOption {
    flex-grow: 1;
  }
  
  .selectOption select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  
  .buttonR button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
  }
  
  .buttonR button:hover {
    background-color: #c82333;
  }
  
  .cardTas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    color: #333;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 15px;
  }
  
  /* Pagination styles go here */
  
  /* Add more styles as needed */
  
  