/* .hme,
.hme * {
  box-sizing: border-box;
} */
.hme {
  background: linear-gradient(
    180deg,
    rgba(41, 43, 36, 0.5) 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Ocultar barra de desplazamiento horizontal */
  overflow-y: auto; /* Mostrar barra de desplazamiento vertical si es necesario */
}

.all-components {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  max-width: 1349px;
  width: 100%;
  padding: 20px; /* Añadir relleno para evitar que los elementos se peguen a los bordes */
  margin-top: 20px; /* Añadir margen superior para separar los elementos de la parte superior de la página */
}

.filters-and-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1349px;
  width: 100%;
  padding: 20px; /* Añadir relleno para evitar que los elementos se peguen a los bordes */
  margin-top: 20px; /* Añadir margen superior para separar los elementos de la parte superior de la página */
}


.filter-order-component {
  width: 100%;
  max-width: 1349px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.order,
.filters {
  position: relative; /* Cambiado a relativo para que no se superpongan con la barra de navegación */
  width: 100%; /* Ancho al 100% */
  max-width: 1920px; /* Ancho máximo */
}

.order {
  position: absolute;
  inset: 0;
}
.order-box {
    background: #a00202;
    border-radius: 10px;
    width: 380px;
    height: 44px;
    position: absolute;
    left: 859px;
    top: 45px;
    overflow: hidden;
}
.order-by-date {
  background: #d9d9d9;
  height: 27px;
  position: absolute;
  left: 890px;
  top: 52px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  
}
.order-by-name {
    border-radius: 10px;
    display: flex;
    background: #d9d9d9;
    width: 96px;
    height: 27px;
    position: absolute;
    left: 1090px;
    top: 52px;
    justify-content: center;
    align-items: center;
}
.ordenamiento {
  color: #000000;
  text-align: left;
  font: 700 italic 28px "Istok Web", sans-serif;
  position: absolute;
  left: 950px;
  top: 0px;
  width: 196px;
  height: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.filters {
  position: absolute;
  inset: 0;
  width: fit-content;
}
.filter-box {
    background: #a00202;
    border-radius: 10px;
    width: 450px;
    height: 44px;
    position: absolute;
    left: 46px;
    top: 43px;
    overflow: hidden;
}
.filter-by-api {
    border-radius: 10px;
    display: flex;
    background: #d9d9d9;
    width: 163px;
    height: 27px;
    position: absolute;
    left: 67px;
    top: 52px;
    align-items: center;
    justify-content: center;
}
.filter-by-teams {
    border-radius: 10px;
    display: flex;
    background: #d9d9d9;
    width: 223px;
    height: 27px;
    position: absolute;
    left: 258px;
    top: 52px;
    align-items: center;
    justify-content: center;
}
.filtrado {
  color: #000000;
  text-align: left;
  font: 700 italic 28px "Istok Web", sans-serif;
  position: absolute;
  left: 211px;
  top: 0px;
  width: 106px;
  height: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.reset-button {
  width: 242px;
  height: 46px;
  position: absolute;
  left: 554px;
  top: 42px;
  overflow: hidden;
  cursor: pointer;
}
.clear-button-box {
  background: #000000;
  border-radius: 6px;
  width: 238px;
  height: 46px;
  position: absolute;
  left: 3px;
  top: 0px;
}
.clear-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 13px;
}
.clean-filters {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Racing Sans One", sans-serif;
  position: absolute;
  left: 46px;
  top: 3px;
  width: 195px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paginate-box {
    background: #a00202;
    flex-shrink: 0;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
     margin-top: 100px;
}
.block-container {
    background: rgba(0, 0, 0, 0.87);
    border-radius: 40px;
    border-style: solid;
    border-color: #a00202;
    border-width: 7px;
    flex-shrink: 0;
    width: 1216px;
    height: 1724px;
    position: relative;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.cards-container {
    width: 1170px;
    height: 1623px;
    position: absolute;
    left: 25px;
    top: -67px;
  
}
