/* NavBar.module.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .imgPoke {
    width: 120px; /* Ajusta el tamaño según sea necesario */
    height: auto;
  }
  
  .navbuttons {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para los enlaces de navegación */
  .navbuttons a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .navbuttons a:hover {
    border-bottom: 2px solid #fff; /* Añade un borde inferior al pasar el ratón sobre el enlace */
  }
  