@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.nav-bar,
.nav-bar * {
  box-sizing: border-box;
}

.nav-bar {
  background: linear-gradient(
    182.69deg,
    rgb(0, 0, 0) 5.2719417959451675%,
    rgb(54, 54, 53) 70.3125%
  );
  border-style: dashed;
  border-color: #a00202;
  border-width: 2px;
  padding: 14px 31px 14px 31px;
  width: 100%; /* Cambiado a 100% para cubrir toda la parte superior */
  height: 80px;
  position: fixed; /* Cambiado a fixed para que permanezca fijo en la parte superior */
  top: 0; /* Alineado en la parte superior */
  left: 0; /* Alineado a la izquierda */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  overflow: hidden;
}

.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio uniforme entre los elementos */
  align-items: center;
  justify-content: space-between; /* Distribución equitativa de los elementos */
  width: calc(100% - 62px); /* Espacio restante después de padding */
  margin: 0 auto; /* Centrado horizontal */
}

.logo {
  flex-shrink: 0;
}

.logo-f-1 {
  width: 120px;
  height: 30px;
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.4);
}


.home-button {
    width: 210px;
    height: 36px;
    position: relative;
    overflow: hidden;
}

.homebutt {
    position: absolute;
    inset: 0;
}

.home-button-box {
    background: #c6c6c6;
    border-radius: 6px;
    width: 113px;
    height: 30px;
    position: absolute;
    left: 47px;
    top: 6px;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 53px;
    top: 9px;
}

.home-label {
    color: #000000;
    text-align: left;
    font: 400 27px "Racing Sans One", sans-serif;
    position: absolute;
    left: 80px;
    top: 12px;
    width: 71px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.new-driver-button {
    flex-shrink: 0;
    width: 270px;
    height: 36px;
    position: relative;
    overflow: hidden;
}

.formbutt {
    position: absolute;
    inset: 0;
}

.new-driver-box {
    background: #c6c6c6;
    border-radius: 6px;
    width: 253px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 11px;
    top: 10px;
}

.new-driver-label {
    color: #000000;
    text-align: left;
    font: 400 27px "Racing Sans One", sans-serif;
    position: absolute;
    left: 36px;
    top: calc(50% - 11px);
    width: 213px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-input {
    flex-shrink: 0;
    width: 334px;
    height: 50px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0);
    display: grid;
    grid-template-columns: 286px 1px 37px;
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-color: #a00202;
    border-width: 2px;
    border-radius: 15px;
    background-color: black
}

.search-input-box {
  background: #1e1e1e;
  border-radius: 10px;
  border-style: solid;
  border-color: #a00202;
  border-width: 1px;
  width: 350px;
  height: 40px;

  right: 0px;
  top: 0px;
}

.divisor {
  left: 302px;
  top: 1px;
  overflow: visible;
  grid-area: 1 / 2 / 2 / 3;
}

.search-image-coontainer {
  width: 37px;
  height: 38px;

  left: 305px;
  top: 1px;
  overflow: hidden;
  grid-area: 1 / 3 / 2 / 4;
}

.search-img {
  width: 37px;
  height: 38px;

  left: 0px;
  top: 0px;
  filter: invert(100%);
}

.input-search {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  
  left: 14px;
  top: 2px;
  width: 286px;
  height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 15px;
  background-color: #1E1E1E
}
