.form-cont form{
    background: linear-gradient(
    180deg,
    rgba(41, 43, 36, 0.5) 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Ocultar barra de desplazamiento horizontal */
  overflow-y: auto;
  margin-top: 80px;
}

.form-cont form input{
    padding-top: 4px;
    width: 25rem;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(212, 24, 24, 0.285);
}

label{
    position: relative;
    padding: 10px;
    margin-top: 10px;
    background-color: #04030387;
    border: solid 2px black;
    border-radius: 3px;
    width: 750px;
    color: aliceblue;
}


.input-select{
    position: relative;
    bottom: 45px;
    margin-top: 5px;
    padding: 10px;
}

.form-button{  
    position: relative;
    margin: 2rem;
    background-color:#a00202;
    box-shadow: 0 0 20px rgba(157, 157, 157, 0.482);
    color:rgb(255, 255, 255);
    bottom: 7px;
}

.form-error{
    color: rgb(153, 0, 0);
    position: relative;
    bottom: 30px;
}

.form-label p{
    background-color:#a00202;
    width: max-content;
    padding: 10px;
    margin: 7px;
    border: solid 1px black;
    border-radius: 5px;
}

.form-info-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60vw;
}

input{
    position: relative;
    bottom: 44px;

}